*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Mukta', sans-serif;
	margin:0;
	font-weight:45px;
	background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}
/**/
a{
	text-decoration: none;
}
/*Barra de navegacion (recordar hacer responsive)*/
.nav_ul_responsive{
	display: none;
}
.Menu{
	opacity:100%;
	height:1px;
     z-index: 1;
}
nav{
     background-color:#b22;
     padding:15px;
     width:100%;
     height: 60px;
     position:fixed;
     border-bottom:#e8492d 3px solid;
}
.container_nav{
     padding: 0;   
     padding-top: 20px; 
     text-align:center;
     z-index: 1;
}
/*Lista contenedor*/
.nav_ul{
     display:inline;
     padding: 0 20px 0 20px;
     margin:10px;
}
/*Lista*/
.lista{
     display: inline-block;
     text-align: center;
     padding:none;
     font-size:22px;
     color:#FBF7F7;    
     margin-right:55px;
}
.lista_deco{
     color:#FBF7F7;
     transition:color 0.30s ease-in-out, transform 0.25s ease-in-out;
     text-decoration:none;

}
.lista_deco:hover {
     color:#E9967A/*hsl(203, 80%, 62%)*/;
}
/**/
.Title {
	/*background-repeat: no-repeat;*/
	font-family:'Open Sans', sans-serif;
     display: inline-block;
     color: #E80E0E/*hsl(222, 25%, 14%)*/;
     position:relative;
     margin: 3em 0 0 8.5em;
     font-size:55px;
     padding:2px;
     text-align: center;
     margin-bottom: 27%;
     text-shadow: #CCC 1px 5px 10px, #CCC -3px 0 10px, #CCC 1px 5px 10px;
}
.Title::after {
     content: '';
     position: absolute;
     width: 100%;
     transform: scaleX(1);
     height: 5px;
     bottom: -7px;
     left: 0;
     background-color:/*#E9967A*/hsl(203, 80%, 62%);
     transform-origin: bottom left;
     transition: transform .6s cubic-bezier(0.53, 0.21, 0, 1);
 }
.Title:hover::after {
     transform: scaleX(0);
     transform-origin: bottom right;
 }
 /*Link*/
 .link{
     color: #474B6E;
 }
 .link:hover{
     color: #0A54C6;
 }
 /*Principal*/
 .Portada{
     height:100vh;
     min-height:100vh; 
 	/*margin-top: 4%;*/
     margin-top: 50px;
 }
 .Principal_noresponsive{
 	background: url(https://imgur.com/v9tIJLU.png) no-repeat;
     background-position: center;
     background-size: cover;
	 -webkit-background-size: 100% 100%;               /* Safari 3.0 */
     -moz-background-size: 100% 100%;                  /* Gecko 1.9.2 (Firefox 3.6) */
     -o-background-size: 100% 100%;                    /* Opera 9.5 */
     background-size: 100% 100%;                       /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
     -moz-border-image: url(bg-image.png) 0;           /* Gecko 1.9.1 (Firefox 3.5) */
 }
 .Principal_responsive{
     display: none;
 }
/* == Quienes somos == */
.contenedor_inicio{
     height:100vh;
     min-height:100vh; 
     display: flex;
     justify-content: center;
     align-items: center;
}
.container_quienes_somos{
     /*background: salmon;*/
}
.Subtitulos{
     font-size:36px;
     color:#CD00FF;
     text-align:center;
     transition: color 0.30s ease-in-out, transform 0.20s ease-in-out;
     margin-bottom: 15px;
}
.Subtitulos:hover{
     color:#FF0000;
}
/*-----     Parrafo  -------*/
.Parrafo1{
     font-size:22px;
     text-align: center;
     color:#000000;
     margin-left:50px;
     margin-right:50px;
}
.Samp{
     color:#0800FF;
}
.Marcado{
     color:#FF0000;
}
.contenedor_imgp{
     margin-left: 5%;
     margin-right: 5%;
     
}
.imagen{
     width: 80px;
     height: 482px;
}
/*----- Conetedor de redes -------*/
.contenedor_icono{
     margin-top: 7px;
     text-align: center;
     font-size:22px;
     text-decoration:none;
}
.Youtube_ico{
     color:red;
}
.Discord_ico{
     color: #7289DA;
}
.twitter_ico{
     color:#7289DA;
}
/*Imagen*/
.imagen{
     width: 2800px;
     height: 420px;
     margin-top: 20px;
     /*border:1px;
     border-top: 4px solid #0E40E8;
     border-bottom: 1px solid #6A6A6A;*/
     box-shadow: #0E40E8 2px -5px 55px, #6A6A6A 2px 5px 15px;
     border-radius: 10px;
}
/*======= HISTORIA  ========/*/
.history{
     height:100vh;
     min-height:100vh;
     width: 100%;
     margin-top: 55px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.contenedor_historia{
     /*background: salmon;*/
}
.Subtitulo2{
     font-size:36px;
     color:#CD00FF;
     text-align:center;
     transition: color 0.30s ease-in-out, transform 0.20s ease-in-out;
     margin-bottom: 15px;
     margin-left: 50%;
}
.Subtitulo2:hover{
     color:#FF0000;
}
/*=============PARRAFO=============*/
.Parrafo2{
     margin: 15px 15px 0 54%;
     font-size:22px;
     line-height: 26px;
     text-align: center;
}
.contenedor_imagen{
     margin-left: 15px;
     margin-right: 47%;
     margin-top: -25%;
}
.imagen_historia{
     width: auto;
     height: 420px;
     border-radius: 5px;
     box-shadow: #276167 1px -2px 15px, #6A6A6A 2px 5px 15px;
}
/*===========BASE===========*/
.base{
     height:100vh;
     min-height:100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}
.contenedor_base{
     /*background:wheat; */
}
.Subtitulo4{
     font-size:36px;
     color:#CD00FF;
     text-align:center;
     transition: color 0.30s ease-in-out, transform 0.20s ease-in-out;
     margin-bottom: 15px;
     margin-right: 50%;
}
.Subtitulo4:hover{
     color:#FF0000;
}
.Parrafo3{
     margin: 15px 54% 0 15px;
     font-size:22px;
     line-height: 26px;
     text-align: center;
}
/*=====IMAGEN======*/
.contenedor_imgb{
     margin-left: 47%;
     margin-right: 15px;
     margin-top: -25%;
}
.Imagen1{
     border-radius: 1px;
     border-radius: 50px;
     box-shadow: #276167 1px -2px 15px, #6A6A6A 2px 5px 15px;
}
/**/
.contenedor_requisitos{
     height: 100vh;
     min-height: 100vh;
     width: ;
    /* display: flex;
     align-content: center;
     justify-content: center;*/
}
.requisitos{
     /*background: white;*/
}
/**/
.Subtitulo3 {
     font-size:40px;
     padding: 18px 36px;
     color: hsl(243, 80%, 62%);
     text-align: center;
     font-family:'Parisienne', sans-serif;
     margin-left: 50%;
     text-shadow: #CCC 1px 5px 10px, #CCC -3px 0 10px, #CCC 1px 5px 10px, #CCC 1px 5px 10px;
}
/**/
.Parrafo5{
     font-size:24px;
     line-height: 28px;
     text-align: center;
     margin-left: 50%;
     margin-bottom: 5px;
}
/*Lista requisitos*/
.lirequisitos{
     font-size:20px;
     line-height: 28px;
     text-align:left;
     color:#000000;
     margin-left: 50%;
}
.contenedor_imagenreq{
     margin-left: 2%;
     margin-right: 55%;
     margin-top: -22%;
}
.imagen2{
     border-radius: 5px;
     box-shadow: #EF1226 0 -5px 15px, #6A6A6A 0 5px 15px;
}
/*===         DISCORD    ===*/
.container_multimedia{
     display: flex;
     justify-content: center;
     align-items: center;
     height:100vh;
     min-height:100vh;
     
}
.contenedor_discord{
     /*background:greenyellow;*/
     float: left;
     margin-right: 35px;
     margin-top: -10%;
}
.contenedor_video{
     /*background: white;*/
     float: right;
     margin-left: 35px;
     margin-top: -15%;
}
.Subtitulo5{
     font-size:36px;
     color:#E01124;
     text-align:center;
     transition: color 0.30s ease-in-out, transform 0.20s ease-in-out;
}
.Subtitulo5:hover{
     color:#F90017;
}
.Discord{
     height:450px;
     width: 520px;
     margin-top:auto;
     margin-left:auto;
     border: 0px solid black;
     border-radius:20px;
     margin-left: 25px;
}
.video{
     display:block;
     margin-left: auto;
     margin-right: 25px;   
}
.Parrafo4{
     text-align: center;
     font-size: 24px;
     margin:5px 0 15px 0;
}
/**/
footer{
     display: block;
     background:#F08080;
     padding: 10px;
     font-family: cursive;
     text-align:center;
     position:relative;
     font-size:18px;
     clear:both;
     margin-top: 5px;
     border-radius: 10px;
     border:3px solid #F08080;
     line-height:24px;
}
.derechos-reservados{
     color:red;
     font-size: 20px;
     font-family: cursive;
     border-color:#000000;
     text-align: center;
}
.reservado{
     color:black;
}
.correo{
     color:red;
}
.alex{
     color:red;
     font-family:;
     font-size:22px;
}
/*-----Boton de subir-------*/
.back-to-top{
	width:40px;
	height:40px;
	border-radius:75px;
	background:0;
	box-shadow: rgb(0 25 0 / 30%) 0 12px 15px;
	border:#BB0000 2px solid;
	padding:0 !important;
	z-index: 100000;
	display:none;
	position:fixed;
	text-shadow:none;
	font-size:26px;
	margin:0;
	text-align:center;
	bottom:30px;
	right:30px;
	color:#D41616;
	transition: color 0.30s ease-in-out, transform 0.20s ease-in-out;
}
.back-to-top:hover{
	color:blue;
}
.fa-angle-up{
	animation-duration:2.5s;
	animation-fill-mode:both;
	animation-iteration-count:infinite;	
}
@keyframes fa-angle-up{
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
		40% {transform: translateY(-30px);}
		60% {transform: translateY(-15px);}
}
.fa-angle-up{
	animation-name:fa-angle-up;
}
 /**/
 /*
 @media only screen and (max-width: 450px){
 	.nav_ul_responsive{
 		display: inline-block;
 		color: red;
 	}
 	.nav_ul{
 		display: none;
 	}
 }*/
 @media only screen and (max-width: 768px){
     header nav,
     header nav li,
     footer{
          float:none;
          text-align:center;
          width:100%;
     }
     nav{
          width:100%;
     }
     .nav_ul{
          display:none;
     }
     .nav_ul_responsive{
          float:left;
          display:inline-block;
          text-align:left;
          font-size: 26px;
          margin-left: 25px;
     }
     .nav_li-container{
          display: none;
     }
     .nav_li-container:hover{
          display: flex;
          width:25px;
     }
     /*======== Principal ========*/
     .Portada{
          height:5%;
          min-height:5%; 
          /*margin-top: 4%;*/
          margin-top: 50px;
     }
     .Principal_noresponsive{
          display: none;
     }
     .Principal_responsive{
          width:100%;
          height:auto;
          display:block;
     }
     .Title{
          text-align: center;
          font-size: 26px;
          margin: 4% 10% 5% 37%;
     }
     /*======== INICIO ========*/
     .contenedor_inicio{
          width:100%;
          height:auto;
          /*margin-top: -22%;*/
     }
     .Parrafo1{
          margin-left: 5%;
          margin-right: 5%;
     }
     .imagen{
          width: auto;
          height: auto;
     }
     /*==========HISTORIA==========*/
     .history{
          margin-top: -25px;
          width:100%;
          height:auto;
     }
     .contenedor_imagen{
          margin-left: 0;
          margin-right: 0;
          margin-top: 0;
     }
     .imagen_historia{
          width: auto;
          height:auto;
          margin-top: 3%;
     }
     .Subtitulo2{
          margin-left: 5%;
          margin-right: 5%;
     }
     .Parrafo2{
          margin-left: 5%;
          margin-right: 5%;
     }
     /*==========BASE=========*/
     .base{
          margin-top: -15px;
          width:100%;
          height:auto;
     }
     .Subtitulo4{
          margin-top: 5%;
          margin-left: 5%;
          margin-right: 5%;
     }
     .Parrafo3{
          margin-left: 5%;
          margin-right: 5%;
     }
     .contenedor_imgb{
          margin-left: 0;
          margin-right: 0;
          margin-top: 0;
     }
     .Imagen1{
          width: auto;
          height:auto;
          margin-top: 3%;
     }
     /*======REQUISITOS======*/
     .contenedor_requisitos{
          margin-top: -15px;
          width:100%;
          height:auto;
     }
     .Subtitulo3{
          font-size: 50px;
          margin-top: 5%;
          margin-left: 5%;
          margin-right: 5%;
     }
     .Parrafo5{
          font-size: 22px;
          margin-left: 2%;
          margin-right: 2%;
     }
     .lirequisitos{
          font-size: 22px;
          margin-left: 7%;
          margin-right: 5%;
     }
     .contenedor_imagenreq{
          margin-left: 0;
          margin-right: 0;
          margin-top: 0;
     }
     .imagen2{
          width: auto;
          height:auto;
          margin-top: 5%;
          margin-bottom: 3%;
     }
     /*======DISCORD Y VIDEOS YT======*/
     .container_multimedia{
          display: none;
     }
 }
 @media only screen and (max-width: 460px){
     .Title{
          text-align: center;
          font-size: 26px;
          margin: 4% 0 7% 25%;
     }
 }
